@model DotaLeague.Models.League

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>League</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LeagueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeagueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTeams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTeams)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeagueID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
